@model Escolar2020.Web.Models.App_TutorViewModel   

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>App_Tutor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Persona_Id" class="control-label"></label>
                <input asp-for="Persona_Id" class="form-control" />
                <span asp-validation-for="Persona_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave_Familia" class="control-label"></label>
                <input asp-for="Clave_Familia" class="form-control" />
                <span asp-validation-for="Clave_Familia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido_Paterno" class="control-label"></label>
                <input asp-for="Apellido_Paterno" class="form-control" />
                <span asp-validation-for="Apellido_Paterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido_Materno" class="control-label"></label>
                <input asp-for="Apellido_Materno" class="form-control" />
                <span asp-validation-for="Apellido_Materno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentesco" class="control-label"></label>
                <input asp-for="Parentesco" class="form-control" />
                <span asp-validation-for="Parentesco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Nacimiento" class="control-label"></label>
                <input asp-for="Fecha_Nacimiento" class="form-control" />
                <span asp-validation-for="Fecha_Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Profesion" class="control-label"></label>
                <input asp-for="Profesion" class="form-control" />
                <span asp-validation-for="Profesion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Empresa" class="control-label"></label>
                <input asp-for="Nombre_Empresa" class="form-control" />
                <span asp-validation-for="Nombre_Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Puesto_Empresa" class="control-label"></label>
                <input asp-for="Puesto_Empresa" class="form-control" />
                <span asp-validation-for="Puesto_Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_Trabajo" class="control-label"></label>
                <input asp-for="Telefono_Trabajo" class="form-control" />
                <span asp-validation-for="Telefono_Trabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMail" class="control-label"></label>
                <input asp-for="EMail" class="form-control" />
                <span asp-validation-for="EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave" class="control-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email_Institucional" class="control-label"></label>
                <input asp-for="Email_Institucional" class="form-control" />
                <span asp-validation-for="Email_Institucional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario_Institucional" class="control-label"></label>
                <input asp-for="Usuario_Institucional" class="form-control" />
                <span asp-validation-for="Usuario_Institucional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clave_Institucional" class="control-label"></label>
                <input asp-for="Clave_Institucional" class="form-control" />
                <span asp-validation-for="Clave_Institucional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
